.message_list {
	padding: 0.5rem;
}

.message_list ul {
	display: block;
}

.message_list ul li {
	display: block;
	border-radius: 0.4rem;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
	background: white;
	position: relative;
}

.message_list ul li:last-child {
	margin-bottom: 0px;
}

.message_list ul li .portrait {
	position: absolute;
	top: 1.4rem;
	left: 0.45rem;
	width: 2.4rem;
	height: 2.4rem;
	display: table-cell;
	vertical-align: middle;
	border-radius: 50%;
	overflow: hidden;
}

.message_list ul li .portrait img {
	display: table-cell;
	vertical-align: middle;
	display: block;
	width: 100%;
}

.message_list ul li .user_msg {
	padding-left: 4.5rem;
}

.message_list ul li .user_msg h3 {
	font-size: 0.8rem;
	color: #000000;
	margin: 0px;
	line-height: 0.8rem;
	padding-bottom: 0.5rem;
	border-bottom: solid 1px rgb(237, 237, 237);
	margin-bottom: 0.5rem;
	box-sizing: border-box;
}

.message_list ul li .user_msg h3 span {
	float: right;
	font-size: 0.6rem;
	color: #BBBBBB;
	font-weight: 100;
}

.message_list ul li .user_msg .notes {
	min-height: 1.7rem;
	font-size: 0.7rem;
	color: #636363;
	line-height: 1.5em;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	display: -webkit-box;
}

.message_list ul li .user_msg .notes span {
	color: #D01818;
	margin: 0rem 0.5rem;
}

.message_list .linkman_but {
	position: fixed;
	bottom: 4rem;
	right: 1rem;
	width: 50px;
	height: 50px;
	background: white;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.message_list .linkman_but img {
	display: block;
	width: 100%;
	padding: 10px;
}

.linkman_head{
	position: fixed;
	top: 0px;
	left: 0px;
	display: block;
	width: 100%;
	padding:0.75rem 1rem;
	background: white;
	z-index: 9;
	
	
}


.linkman_head .head_nav{
	position: relative;
	display: block;
	width: 100%;
	height: 1.4rem;
	background: #EFEFEF;
	text-align: center;
	border-radius: 1.4rem;
	margin: 0px;
	overflow: hidden;
	font-size: 0px;
}

.linkman_head .head_nav input{
	margin: 0px;
	display: block;
	width: 100%;
	height: 1.4rem;
	position: absolute;
	top: 0px;
	left: 0px;
	padding-left: 1.5rem;
	line-height: 1.4rem;
}

.linkman_head .head_nav span{
	display: inline-block;
	font-size: 0.6rem;
	line-height: 0.6rem;
	padding: 0.4rem 0rem;
}

.linkman_head .head_nav span img{
	display: block;
	width: 0.6rem;
	float: left;
}

.linkman_head .head_nav small{
	display: none;
  
	font-size: 0.6rem;
	line-height: 0.6rem;
	padding: 0.4rem 0rem;
	margin-left: 0.5rem;
}

.linkman_head .head_nav small img{
	display: block;
	width: 0.6rem;
	float: left;
}


.linkman_head #head_nav.ac span{
	display:none;
}

.linkman_head #head_nav.ac small{
	display:block;
}


.linkman_nav {
	padding: 0.5rem;
	padding-top:3.5rem
}

.linkman_nav ul {
	display: block;
	width: 100%;
}

.linkman_nav ul li {
	position: relative;
	padding: 1rem 0.5rem;
	border-radius: 0.4rem;
	margin-bottom: 0.5rem;
	background: white;
}

.linkman_nav ul li .portrait {
	position: absolute;
	left: 0.5rem;
	top: 1rem;
	width: 2.4rem;
	height: 2.4rem;
}

.linkman_nav ul li .portrait img {
	display: block;
	width: 100%;
}

.linkman_nav ul li .user_msg {
	position: relative;
	height: 2.4rem;
	padding-left: 3.2rem;
}

.linkman_nav ul li .user_msg h3 {
	font-size: 0.8rem;
	font-weight: 500;
	margin: 0px;
}

.linkman_nav ul li .user_msg h3 span {
	float: right;
}

.linkman_nav ul li .user_msg .notes {
	position: absolute;
	left: 3.2rem;
	bottom: 0px;
	font-size: 0.6rem;
	color: #636363;
}

.linkman_nav ul li .user_msg .notes p {
	margin: 0px;
	width: 13rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}