
#errorTip{
	color: red;
	font-size: 14px;
	
}

.Breadcrumb {
	padding: 16px 0px;
	font-size: 12px !important;

}

.Breadcrumb .ivu-breadcrumb {
	border-bottom: solid 1px #f5f7f9;
	padding-bottom: 6px !important;

}


.operation_box {
	padding-bottom: 16px;
}


.ui_tableBottom{
	padding-top: 20px;
	display: inline-block;
	width: 100%;
}

.ui_tableBottom .ui_operate{
	float: left;
}

.ui_tableBottom .ui_page{
	float: right;
}

/*表格*/

.hi_table{
	width: 100%;
	border: solid 1px #dddee1;	
	overflow: auto;
}

.hi_table table{
	width: 100%;
}

.hi_table  table thead{
	background: #F8F8F9;
}

.hi_table  table tr td{
	position: relative;
	padding: 10px 0px;
	min-width: 0;  
    box-sizing: border-box;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: middle;
    font-weight: 100;
     font-size: 14px;
   }

.hi_table  table tr th{
	position: relative;
	padding: 10px 0px;
	min-width: 0;  
    box-sizing: border-box;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: middle;
font-size: 14px;   
    font-weight: bold;
   }

.hi_table  table tr:hover{
	background: whitesmoke;
}

.hi_table .hi_table_text{
	padding-left: 18px;
    padding-right: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all;
    box-sizing: border-box;

}

.hi_table .hi_table_head{
	background: #f8f8f9;
}



/*边框表格*/

.hi_table.border{
	border-right: 0px;
	border-bottom: 0px;
}

.hi_table.border  table tr td{
	border-bottom:  solid 1px #dddee1;	
	border-right:  solid 1px #dddee1;	
}

.hi_table.border  table tr th{
	border-bottom:  solid 1px #dddee1;	
	border-right:  solid 1px #dddee1;	
}



/*

.hi_table table{
	width: ;
	overflow: hidden;
}



.
.hi_table .hi_table_body table tr:hover{
	background: whitesmoke;
}




.hi_table  .hi_table_body .hi_table_text{
	font-weight: 100;
	font-size: 14px;

}


.hi_table.border{
	border-right: 0px;
	border-bottom: 0px;
}


.hi_table.border table tr th{
	border-right:  solid 1px #dddee1;
	border-bottom:  solid 1px #dddee1;
}

.hi_table table tr th.operation{
	width: 168px;
	text-align: center;
}

.hi_table table tr.hi_table_head{
	background: #f8f8f9;
}

.hi_table table tr.hi_table_head:hover{
	background: #f8f8f9;
}
*/


 .demo-drawer-footer{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        border-top: 1px solid #e8e8e8;
        padding: 10px 16px;
        text-align: right;
        background: #fff;
    }